@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BS.Application.ViewModels.AR.ARInvoiceDetailVM
@using Newtonsoft.Json
@{
    Dictionary<string, string> data = ViewBag.Resources;

    if (Model.Invoice == null)
    {
        ViewBag.Title = ViewBag.Resources["AR_INVOICE_CREATE_PAGETITLE"] + " - Add";
    }
    else
    {
        ViewBag.Title = ViewBag.Resources["AR_INVOICE_CREATE_PAGETITLE"] + " - Edit";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<div class="d-md-flex d-block align-items-center justify-content-between my-2 page-header-breadcrumb">
    <h1 class="page-title fw-semibold fs-18 mb-0">@ViewBag.Title</h1>
    @*<div class="ms-md-1 ms-0">
    <nav>
    <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
    </nav>
    </div>*@
</div>
<!-- Page Header Close -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body add-invoice p-0">
                <div class="p-2">
                    <div class="row gx-5">
                        <form id="frmInvoice" name="frmInvoice" class="needs-validation" action="" method="post" novalidate>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card custom-card">
                                        <div class="card-header d-flex justify-content-between w-100">
                                            <div class="col-xl-6 col-lg-4 col-md-4">

                                                <select class="form-control" data-trigger name="customerID" id="customerID" asp-items="@ViewBag.Customers as List<SelectListItem>">
                                                    <option value="">Select Customer</option>
                                                </select>

                                            </div>
                                            <div class="ml-auto ms-2">
                                                <input type="hidden" id="selCustomerId" name="selCustomerId" />
                                                @* <button type="button" class="btn btn-primary btn-wave" onclick="window.location='@Url.Action("Index", "Invoice")'">Back</button> *@
                                                <button type="button" class="btn btn-primary" onclick="window.location='@Url.Action("Index", "Invoice")'" id="back" name="back">Back<i class="ms-1 align-middle ri-send-plane-1-line  d-inline-block"></i></button>
                                                <button class="btn btn-sm btn-icon btn-secondary-light"><i class="bi bi-printer-fill"></i></button>
                                                <button class="btn btn-sm btn-icon btn-success-light"><i class="bi bi-download"></i></button>
                                            </div>
                                            @* <div class="ml-auto ms-2">
                                            <button class="btn btn-sm btn-primary">Save As PDF<i class="ri-file-pdf-line align-middle d-inline-block"></i></button>
                                            <button class="btn btn-sm btn-icon btn-secondary-light"><i class="bi bi-printer-fill"></i></button>
                                            <button class="btn btn-sm btn-icon btn-success-light"><i class="bi bi-download"></i></button>
                                            </div> *@
                                        </div>
                                        <div class="card custom-card">
                                            <div class="row gy-3">
                                                <div class="col-xl-12">
                                                    <div class="row hidden-element" id="addressRow">
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                            <p class="form-label mb-1 mt-1">
                                                                Billing Address :
                                                                <button type="button" class="btn btn-sm btn-icon btn-primary-light" onclick="ShowAddressList(1);"><i class="bi bi-card-list" title="choose an address"></i></button>
                                                            </p>
                                                            <div class="d-flex fs-14 mt-3 form-control form-control-light">
                                                                <div>
                                                                    <p class="mb-1 fs-12 fw-bold"><span id="billContact" name="billContact"> </span></p>
                                                                    <p class="mb-1">
                                                                        <i class="ri-mail-line me-2 align-middle fs-14 text-muted"></i><span id="billEmailAddress" name="billEmailAddress"> </span>
                                                                        <span class="ms-4 align-right"><i class="ri-phone-line me-2 align-middle fs-14 text-muted"></i></span> <span id="billPhone" name="billPhone"></span>
                                                                    </p>
                                                                    <p class="mb-1"><span id="billAddress" name="billAddress"><i class="bi bi-briefcase me-2"></i> </span></p>
                                                                    <p><i class="bi bi-geo-alt me-1"></i><span id="billZipcode" name="billZipcode"></span></p>

                                                                </div>
                                                                <input type="hidden" name="billAddressId" id="billAddressId" value="" />
                                                            </div>
                                                           
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 ms-auto mt-sm-0 mt-2">
                                                            <p class="form-label mb-1 mt-1">
                                                                Delivery Address :
                                                                <button type="button" class="btn btn-sm btn-icon btn-primary-light" onclick="ShowAddressList(2);"><i class="bi bi-card-list" title="choose an address"></i></button>
                                                            </p>
                                                            <div class="d-flex fs-14 mt-3 form-control form-control-light">
                                                                <div>
                                                                    <p class="mb-1 fs-12 fw-bold"><span id="shipContact" name="shipContact"> </span></p>
                                                                    <p class="mb-1">
                                                                        <i class="ri-mail-line me-2 align-middle fs-14 text-muted"></i><span id="shipEmailAddress" name="shipEmailAddress"> </span>
                                                                        <span class="ms-4 align-right"><i class="ri-phone-line me-2 align-middle fs-14 text-muted"></i></span> <span id="shipPhone" name="shipPhone"></span>
                                                                    </p>
                                                                    <p class="mb-1"><span id="shipAddress" name="shipAddress"><i class="bi bi-briefcase me-2"></i> </span></p>
                                                                    <p><i class="bi bi-geo-alt me-1"></i><span id="shipZipcode" name="shipZipcode"></span></p>

                                                                </div>
                                                                <input type="hidden" name="shipAddressId" id="shipAddressId" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex fs-12 mt-3 form-control form-control-light">
                                                    <div class="col-xl-4 me-2 choices-control">
                                                        <label for="currency" class="form-label">Currency</label>
                                                        <select class="form-control" data-trigger name="currency" id="currency">
                                                            <option value="">Select Currency</option>
                                                            <option value="1">USD - (United States Dollar)</option>
                                                            <option value="2">₹ - (Indian Ruppee)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xl-8">
                                                        <label for="Note" class="form-label">Note</label>
                                                        <input type="text" class="form-control form-control-light" id="note" name="note" placeholder="Notes">
                                                    </div>

                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="row">
                                                        <div class="col-xl-8">
                                                            <label for="invoiceNo" class="form-label">Invoice No.</label>
                                                            <input type="text" class="form-control" id="invoiceNo" name="invoiceNo" placeholder="Invoice No." value="022/23-24">
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <label for="finYear" class="form-label">Fin Year</label>
                                                            <input type="text" class="form-control form-control-light" id="finYear" name="finYear" value="2023-24" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="invoice-date-issued" class="form-label">Invoice Date</label>
                                                    <input type="text" class="form-control form-control-light" id="invoiceDate" name="invoiceDate" placeholder="Choose date">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="invoice-date-due" class="form-label">Due Date</label>
                                                    <input type="text" class="form-control form-control-light" id="dueDate" name="dueDate" placeholder="Choose date">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="invoice-due-amount" class="form-label">Due Amount</label>
                                                    <input type="text" class="form-control form-control-light" id="dueAmount" name="dueAmount" placeholder="Enter Amount" value="">
                                                </div>
                                                <div class="col-xl-3">
                                                    <div class="row">
                                                        <div class="col-xl-8">
                                                            <label for="challanNo" class="form-label">Challan No.</label>
                                                            <input type="text" class="form-control" id="challanNo" name="challanNo" placeholder="Challan No." value="">
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <label for="finYear" class="form-label">Fin Year</label>
                                                            <input type="text" class="form-control form-control-light" id="finYear" name="finYear" value="2023-24" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="challan-date-issued" class="form-label">Challan Date</label>
                                                    <input type="text" class="form-control form-control-light" id="issuedDate" name="issuedDate" placeholder="Choose date">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="purchaseOrder" class="form-label">PO Number</label>
                                                    <input type="text" class="form-control form-control-light" id="purchaseOrder" name="purchaseOrder" placeholder="PO Number">
                                                </div>
                                                <div class="col-xl-3">
                                                    <label for="poDate" class="form-label">PO Date</label>
                                                    <input type="text" class="form-control form-control-light" id="poDate" name="poDate" placeholder="Choose date">
                                                </div>
                                                <div class="col-xl-12">
                                                    <partial name="_productDetail" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-footer text-end">
                                            @*<button class="btn btn-light me-1"><i class="ri-eye-line me-1 align-middle d-inline-block"></i>Preview</button>*@
                                            @* <button class="btn btn-primary">Save Invoice <i class="ri-send-plane-2-line ms-1 align-middle d-inline-block"></i></button> *@
                                            <button class="btn btn-primary" id="saveInvoice" name="saveInvoice">Save Invoice <i class="ms-1 align-middle ri-send-plane-1-line  d-inline-block"></i></button>
                                            <input type="hidden" id="invoiceId" name="invoiceId" value="0" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addressModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressTitle">Billing Addresses:</h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="addressListContainer">
                <div class="list-group">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="selectAddressNo" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="selectAddressYes" class="btn btn-success">Ok</button>
                <input type="hidden" id="selBillAddressId" value="0" />
                <input type="hidden" id="selShipAddressId" value="0" />
            </div>
        </div>
    </div>
</div>
<style>
    .button-container {
        margin-top: 20px;
    }

    .input-group .btn {
        position: relative;
        z-index: 0;
    }
</style>
@section Scripts {
    <script src="~/bs/js/ar_invoice.js" asp-append-version="true"></script>
}
<script type="text/javascript">
    // var viewModel = @Html.Raw(ViewBag.ViewModelJson);
</script>